.categories{
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 12px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.5s;
}
.categories a{
    text-decoration: none;
}
.categories-main{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-evenly;
}
.categories-main a{
    text-decoration: none;
    color: #1C1C1B;
}
.categories:hover{
    transition: 0.5s;
    color: #098CE9;
    border:1px solid #098CE9;
}