.title-main p{
    text-align: center;
    font-family: "Urbanist", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.5em;
    color: #727272;
    margin-bottom: 30px;
}
.title-main h1{
    color: #1C1C1B;
    text-align: center;
}