.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Убедитесь, что высота всегда равна высоте экрана */
}
.pointer{
  cursor: pointer;
}
.blue{
  color: #098CE9;
}
.green{
  color: #00FF00;
}
.yelow{
  color:#EEB319;
}
.pink{
  color:#AF52DE;
}
/* hover */
.hover-blue{
  transition: 0.5s;
  cursor: pointer;
}
.hover-blue:hover{
  color: #098CE9;
  transition: 0.5s;
}
.container-all{
  width: 75%;
  margin: 0 auto;

}
.content-title{
  width: 45%;
}
.content-title p{
  font-size: 22px;
    font-weight: 600;
    color: var(--e-global-color-text);
}
.content-title h1{
  font-size: 60px;
}
.main-title{
  color: rgb(28,28,27);
  height: 640px;
}
.main-title img{
  width: 35%;
}
.main-title button{
  width: 230px;
  height: 50px;
  margin-top: 25px;
}
.main-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priority{
  height: 180px;
  background-color: #F1F2F8;
}
.priority-title{
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  height: 100%;
}
.explorer{
  display: flex;
  width: 28%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto  ;
}
.explorer button{
  width: 80px;
  border-radius: 30px;
}
.explorer span{
  font-size: 20px;
  font-weight: 600;
}
.courses .items{
  height: 500px;
}
.categories{
  background-color: #fff;
}
.courses-categories{
  height: 300px;
}
.courses-categories .container-all{
  height: 100%;
  background-color: #F1F2F8;
  border-radius: 15px;
  padding: 30px 10px;
}
.our-package{
  height: 700px;
  padding-top: 80px;
  margin-bottom: 80px;
}
.our-package .items{
  margin-top: 70px;
}
.result{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}
.our-instructor-title{
  height: 700px;
}
.our-instructor-title .items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}
.login{
  text-align: center;
  margin-top: auto 0;
}
.login-container{
  width: 900px;
  height: 100%;
  margin-top: 100px;
}
.login-container .login-item{
  width: 100%;
  box-shadow: #0A6DE9 1px 1px 15px 0px;
  height: 500px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form{
  width: 50%;
  padding: 20px 60px;
}
.form{
  text-align: center;
}
.form button{
  margin-top: 10px;
}
.banner{
  cursor: default;
  text-align: center;
  width: 50%;
  background-color: #376BFB;
  height: 100%;
  width: 45%;
    height: 100%;
    background-color: #376BFB;
    border-radius: 150px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.banner h2{
  font-weight: 700;
  font-size: 40px;
}
.banner p{
  font-size: 20px;
  font-weight: 500;
}
.banner a{
  color: #fff;
  font-weight: bolder;
}
